---
import "../../styles/titled.css";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { Blog, db, desc, isNull, ne, or } from "astro:db";
import { prettyDate } from "../../util.js";

const posts = await db
  .select()
  .from(Blog)
  .where(or(isNull(Blog.hide), ne(Blog.hide, true)))
  .orderBy(desc(Blog.pubDate));
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        margin-left: var(--side-margin);
        margin-right: var(--side-margin);
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        width: calc(50% - 1rem);
      }
      ul li * {
        transition: 0.2s ease;
      }
      ul li:first-child {
        width: 100%;
        margin-bottom: 1rem;
      }
      ul li:first-child img {
        width: 100%;
      }
      ul li:first-child a {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      ul li:first-child .title {
        font-size: 2.4rem;
        line-height: 1em;
        margin-top: 0.4em;
      }
      ul li:first-child .subtitle {
        line-height: 1.1em;
      }
      ul li img {
        margin-bottom: 0.5rem;
        border-radius: 12px;
      }
      ul li a {
        display: block;
      }
      ul a:hover img {
        box-shadow: var(--box-shadow);
      }
      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
          text-align: center;
        }
        ul li:first-child {
          margin-bottom: 0;
        }
        ul li:first-child .title {
          font-size: 1.5em;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.slug}/`}>
                  {post.heroImage && (
                    <img width={720} height={360} src={post.heroImage} alt="" />
                  )}
                  <div class="titleBox">
                    <div class="title">{post.title}</div>
                    <div class="subTitle">{prettyDate(post.pubDate)}</div>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
